.social {
  display: block;
  width: 23px;
  height: 30px;
  background-color: #f1f1f1;
  margin-right: 40px;
}
.social:last-of-type {
  margin-right: 0;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #444444;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 18px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #444444;
  color: white;
}
.btn:active {
  background-color: #444444;
  color: #757575;
}
html {
  overflow-x: hidden;
}
.page-footer__social {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
}
.social--inst {
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-position: -456px -110px;
}
.social--inst:hover {
  background-position: -506px -110px;
}
.social--inst:active {
  background-position: -506px -110px;
  opacity: 0.3;
}
.social--fb {
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-position: -600px -112px;
  position: relative;
  top: -6px;
}
.social--fb:hover {
  background-position: -649px -112px;
}
.social--fb:active {
  background-position: -649px -112px;
  opacity: 0.3;
}
.social--twitter {
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-position: -734px -112px;
}
.social--twitter:hover {
  background-position: -781px -111px;
}
.social--twitter:active {
  background-position: -781px -111px;
  opacity: 0.3;
}
.design {
  text-decoration: none;
  color: black;
  font-family: Verdana;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 35px;
  position: relative;
}
.design span {
  display: inline-block;
  position: relative;
}
.design span::after {
  content: " ";
  width: 28px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: -50px;
  background-image: url("../img/sprite.png");
  background-position: 0 -48px;
}
.design:hover span::after {
  background-position: -55px -48px;
}
.design:active span::after {
  background-position: -55px -48px;
  opacity: 0.3;
}
.main-nav-wrapper {
  width: 100%;
  max-width: 1050px;
}
.main-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  position: relative;
  z-index: 1;
}
.anchor-for-main {
  background-color: transparent;
  position: absolute;
  width: 150px;
  height: 80px;
  left: 50%;
  top: 1%;
  margin-left: -75px;
  z-index: 2;
}
a.site-logo {
  position: relative;
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-nav__list__item a,
.main-nav__logo {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
  text-align: center;
}
.main-nav__list__item span {
  color: #838383;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.main-nav__list__item--search a,
.main-nav__list__item--basket a {
  position: relative;
}
.main-nav__list__item--search a::after,
.main-nav__list__item--basket a::after {
  content: " ";
  width: 25px;
  height: 30px;
  position: absolute;
  top: 34px;
  left: 30px;
  background-image: url("../img/sprite.png");
  background-position: 0 0;
}
.main-nav__list__item--basket a::after {
  background-position: -168px 0;
}
.main-nav__list__item--search a:hover::after {
  background-position: -58px 0;
}
.main-nav__list__item--basket a:hover::after {
  background-position: -224px -2px;
}
.main-nav__list__item--search a:active::after,
.main-nav__list__item--basket a:active::after {
  opacity: 0.3;
}
.main-nav__logo {
  border: 0px solid black;
  position: relative;
  padding: 0;
  text-align: left;
  padding-top: 22px;
}
.main-nav__logo a {
  position: relative;
}
.main-nav__list__item a[href]:hover {
  color: #8d8d8d;
}
.main-nav__list__item a[href]:active {
  color: #cacaca;
}
.extra-nav-wrapper {
  height: auto;
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.extra-nav {
  padding-top: 90px;
}
.extra-nav__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 81%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 130px;
  padding: 0 70px;
  min-height: 210px;
}
.extra-nav__item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: 18px;
  color: white;
  padding: 30px;
  font-weight: bold;
  position: relative;
  display: block;
  text-decoration: none;
}
.extra-nav__item::after {
  content: " ";
  width: 60px;
  height: 62px;
  position: absolute;
  top: 23px;
  right: 25px;
}
.extra-nav__item--interior {
  background-color: #63d1bb;
}
.extra-nav__item--interior::after {
  background-image: url("../img/sprite.png");
  background-position: -370px 0;
}
.extra-nav__item--interior:hover {
  background-color: #59d5bc;
}
.extra-nav__item--interior:hover::after {
  background-position: -483px 0;
}
.extra-nav__item--interior:active {
  background-color: #59d5bc;
}
.extra-nav__item--interior:active::after {
  background-position: -596px -3px;
}
.extra-nav__item--toys {
  background-color: #56c3b2;
}
.extra-nav__item--toys::after {
  background-image: url("../img/sprite.png");
  background-position: -720px 0;
}
.extra-nav__item--toys:hover {
  background-color: #46c1ae;
}
.extra-nav__item--toys:hover::after {
  background-position: -833.5px -0.5px;
}
.extra-nav__item--toys:active {
  background-color: #46c1ae;
}
.extra-nav__item--toys:active::after {
  background-position: -948px -0.8px;
}
.extra-nav--catalog,
.extra-nav--form {
  background-color: #f1f1f1;
  max-height: 180px;
}
.extra-nav--catalog .extra-nav__title,
.extra-nav--form .extra-nav__title {
  font-family: Verdana;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  padding-top: 75px;
}
/*.site-logo {
.site-logo(86px, 35px,"../img/mishka-logo-mobile.svg");
display:inline-block;
}

.site-logo--mobile-hidden {
  display:none;
}*/
.special-offer {
  padding: 0 30px;
  padding-top: 30px;
  position: relative;
  text-align: center;
}
.special-offer::after {
  content: " ";
  width: 100%;
  height: 15px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-size: cover;
  position: absolute;
  bottom: -45px;
  left: 0;
}
.mobile-hidden {
  display: none;
}
.special-offer__marker br {
  display: none;
}
.special-offer img {
  max-width: 333px;
  margin: 0 auto;
}
.special-offer__description,
.special-offer__marker {
  float: left;
  text-align: left;
}
.special-offer__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.special-offer__marker {
  font-family: Verdana;
  color: #78d7c4;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.special-offer__description,
.special-offer__characteristics {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
}
.special-offer__description {
  margin-bottom: 30px;
}
.special-offer__characteristics {
  line-height: 20px;
  width: 100%;
}
.special-offer__price {
  font-family: Verdana;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  padding: 25px 0;
  text-align: center;
}
.special-offer__characteristics {
  margin-bottom: 30px;
}
.special-offer__characteristics td {
  width: 50%;
  border-bottom: 1px solid #ececec;
  padding: 12px 0;
}
.advantages {
  margin-top: 75px;
  padding: 0 30px;
  margin-bottom: 30px;
}
.advantages__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.advantages__item {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-family: Verdana;
  font-weight: bold;
  padding: 60px 0;
  padding-bottom: 30px;
  position: relative;
}
.advantages__item::after {
  content: " ";
  width: 60px;
  height: 62px;
  position: absolute;
  top: 60px;
  right: 40px;
  background-image: url("../img/sprite.png");
  top: -20px;
  left: 0;
}
.advantages__item--ecology::after {
  background-position: 0 -89px;
  left: 8px;
}
.advantages__item--russian-price::after {
  background-position: -68px -80px;
}
.advantages__item--more-likes::after {
  background-position: -149px -80px;
  left: 8px;
}
.advantages__item--with-soul::after {
  background-position: -217px -86px;
}
.advantages__item--patriotism::after {
  background-position: -287px -75px;
  left: -8px;
}
.advantages__item--gift::after {
  background-position: -365px -84px;
  left: 4px;
}
.feedback {
  padding: 0 30px;
  position: relative;
}
.feedback::after {
  content: " ";
  width: 100%;
  height: 15px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-size: cover;
  position: absolute;
  bottom: -45px;
  left: 0;
}
.feedback__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-family: Verdana;
  margin-bottom: 30px;
  font-weight: bold;
}
.feedback__post__content {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.feedback__post__author__author-name {
  color: black;
  font-size: 14px;
  font-style: normal;
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
.feedback__post__author__author-inst {
  font-style: normal;
  color: #444444;
  text-decoration: none;
  display: block;
  margin-bottom: 35px;
}
.slider-switcher {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.slider__switch {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  border-width: 0;
  font-size: 0;
}
.slider__switch:hover::after {
  opacity: 0.6;
}
.slider__switch:active::after {
  opacity: 0.3;
}
.slider__switch--next {
  border: 1px solid #ececec;
  border-right: none;
  position: relative;
}
.slider__switch--next::after {
  content: " ";
  width: 54px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -27px;
  background-image: url("../img/sprite.png");
  background-position: -892px -115px;
}
.slider__switch--prev {
  border: 1px solid #ececec;
  position: relative;
}
.slider__switch--prev::after {
  content: " ";
  width: 54px;
  height: 28px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -27px;
  background-image: url("../img/sprite.png");
  background-position: -954px -115px;
}
.contacts {
  margin-top: 95px;
  margin-bottom: 40px;
}
.only-desktop--visible {
  display: none;
}
.contacts__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding: 0 50px;
  font-weight: bold;
  font-family: Verdana;
}
.contacts__info {
  padding: 0 50px;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  margin-bottom: 30px;
}
.contacts__info a {
  color: #444444;
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.contacts__info a::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
  bottom: 0;
  left: 0;
}
.contacts__info a:hover {
  color: #46c1ae;
}
.contacts__info a:hover::after {
  background-color: #46c1ae;
}
.contacts__info a:active {
  color: #c7ece7;
}
.contacts__info a:active::after {
  background-color: #ecf9f7;
}
.contacts__info tr {
  width: 50%;
  vertical-align: top;
}
.contacts__map {
  width: 100%;
  margin-bottom: 40px;
}
.contacts .btn {
  width: 81%;
  margin: 0 auto;
}
.product-list {
  padding: 0 30px;
}
.product-article {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ededed;
  margin-bottom: 30px;
}
.product-article:hover .product-article__content-wrapper {
  box-shadow: 0 0 20px 0 #e6e6e4;
  position: relative;
  z-index: 1;
}
.product-article:active .product-article__content-wrapper {
  box-shadow: 0 0 10px 0 #e6e6e4;
}
.product-article__photo {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.product-article__title {
  font-family: Verdana;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  min-width: 260px;
  color: black;
  text-decoration: none;
}
.product-article__title:hover {
  color: #8d8d8d;
}
.product-article__title:active {
  color: #cacaca;
}
.product-article__price {
  font-family: Verdana;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 25px 0;
  padding-right: 110px;
  padding-left: 30px;
  max-width: 260px;
  text-align: left;
  position: relative;
}
.product-article__price::after {
  content: " ";
  position: absolute;
  height: 1px;
  width: 200px;
  background-color: #ededed;
  top: 0;
  left: 30px;
}
.product-article__price::before {
  content: " ";
  width: 25px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
  background-image: url("../img/sprite.png");
  background-position: -168px 0;
}
.product-article__price:hover {
  color: #8d8d8d;
}
.product-article__price:hover::before {
  background-position: -224px -2px;
}
.product-article__price:active {
  color: #cacaca;
}
.product-article__price:active::before {
  background-position: -224px -2px;
  opacity: 0.3;
}
.product-article__description {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  padding-bottom: 22px;
  padding-left: 30px;
  text-align: left;
  min-width: 260px;
}
.product-article__content-wrapper {
  margin-top: -5px;
  padding-top: 35px;
}
.order-form__wrapper {
  max-width: 668px;
  margin: 0 auto;
}
.order-form__description {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 1050px;
  box-sizing: border-box;
}
.order-form {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  min-width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.order-form fieldset {
  border: none;
  width: 100%;
}
.order-form legend {
  color: #62d1ba;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}
.order-form legend::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}
.order-form legend .white-bg {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  z-index: 10;
  background-color: white;
}
.order-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: black;
  font-weight: bold;
  display: block;
  padding-left: 63px;
  margin-bottom: 40px;
  position: relative;
}
.order-form label:last-of-type {
  margin-bottom: 35px;
}
.order-form input[type="radio"],
.order-form input[type="checkbox"] {
  display: none;
}
.order-form input[type="radio"] + label,
.order-form input[type="checkbox"] + label {
  cursor: pointer;
}
.order-form input[type="radio"] + label::before {
  content: " ";
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -12px;
}
.order-form input[type="radio"] + label:hover::before {
  border-color: #62d1ba;
}
.order-form input[type="radio"] + label:active::before {
  border-color: #e0e0e0;
}
.order-form input[type="radio"]:checked + label::after {
  content: " ";
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
  position: absolute;
  left: 13.5px;
  top: 0.5px;
}
.white-block {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  left: 0;
  top: -12px;
}
.order-form input[type="checkbox"]:checked + label::after {
  content: " ";
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  left: 15px;
  top: 9px;
}
.order-form input[type="checkbox"]:checked + label::before {
  content: " ";
  width: 10px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  left: 10.5px;
  top: 12px;
}
.order-form input[type="checkbox"] + label:hover > .white-block {
  border-color: #62d1ba;
}
.order-form input[type="checkbox"] + label:active > .white-block {
  border-color: #e0e0e0;
}
.order-form__initials label {
  margin-bottom: 10px;
  padding-left: 0;
}
.order-form__initials input,
.order-form__tel input,
.order-form__mail input {
  width: 100%;
  padding: 0;
  padding-bottom: 15px;
  border-width: 0;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}
.order-form__initials input:hover,
.order-form__tel input:hover,
.order-form__mail input:hover {
  border-width: 0;
  border-bottom: 2px solid #62d1ba;
}
.order-form__initials input:active,
.order-form__tel input:active,
.order-form__mail input:active {
  border-bottom: 2px solid #62d1ba;
}
.order-form__initials input:focus,
.order-form__tel input:focus,
.order-form__mail input:focus {
  border-width: 0;
  border-bottom: 2px solid #62d1ba;
  outline: none;
}
.order-form__extra-text textarea {
  width: 100%;
}
.order-form__extra-text textarea:hover {
  border: 2px solid #62d1ba;
}
.order-form__extra-text textarea:active {
  bottom: 2px solid #62d1ba;
}
.order-form__extra-text textarea:focus {
  outline: none;
}
.order-form .btn {
  width: 98%;
  margin: auto;
  background-color: white;
  min-width: 260px;
  box-sizing: border-box;
}
.order-form .btn:hover {
  background-color: #444444;
}
.order-form__footer {
  margin-left: 8%;
}
.order-form__tel {
  position: relative;
}
.order-form__tel::after {
  content: " ";
  width: 39px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 40px;
  background-image: url("../img/sprite.png");
  background-position: -160px -48px;
}
.order-form__mail {
  position: relative;
}
.order-form__mail::after {
  content: " ";
  width: 39px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 38px;
  background-image: url("../img/sprite.png");
  background-position: -333px -48px;
}
.only-mobile-visible {
  display: block;
}
.only-mobile-hidden {
  display: none;
}
.making-process {
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #ececec;
  margin-bottom: 60px;
}
.making-process:hover {
  box-shadow: 0 0 20px 0 #e6e6e4;
}
.making-process__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-family: Verdana;
  font-weight: bold;
  padding: 15px 0;
  padding-left: 85px;
  padding-bottom: 0;
  position: relative;
}
.making-process__title::after {
  content: " ";
  width: 35px;
  height: 25px;
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
  left: 35px;
  background-image: url("../img/sprite.png");
  background-position: -287px -50px;
}
.making-process__video {
  text-align: center;
  position: relative;
}
.making-process__content {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  padding: 0 35px;
  margin-bottom: 25px;
}
.making-process .btn {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
}
@media (min-width: 500px) {
  .special-offer::after {
    height: 17px;
  }
  .feedback::after {
    height: 17px;
  }
}
@media (min-width: 580px) {
  .extra-nav-wrapper {
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
    background-color: white;
  }
  .extra-nav-wrapper--catalog {
    background-color: #f1f1f1;
  }
}
@media (min-width: 768px) {
  .site-logo--mobile-hidden {
    display: inline-block;
    width: 34%;
  }
  .page-footer .site-logo {
    display: block;
    width: 107px;
    height: 35px;
    background-image: url("../img/sprite.png");
    background-position: -7px -167px;
  }
  .page-footer .site-logo:hover {
    background-position: -152px -167px;
  }
  .page-footer .site-logo:active {
    background-position: -152px -167px;
    opacity: 0.3;
  }
  .page-footer {
    display: flex;
    padding: 20px 50px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: center;
  }
  .design {
    width: 24%;
  }
  .design::after {
    right: -15px;
  }
  .page-footer__social {
    width: 42%;
  }
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid black;
    width: 87%;
    margin: 0 auto;
    max-height: 90px;
  }
  .anchor-for-main {
    left: 9%;
  }
  .main-nav__logo {
    display: block;
    box-sizing: border-box;
    width: 113px;
    height: 90px;
    order: -1;
    flex-basis: 50%;
    border-bottom: 1px solid #ececec;
  }
  .group-1,
  .group-2,
  .group-3 {
    display: flex;
    position: relative;
    z-index: 2;
  }
  .group-1 {
    order: 2;
    width: 50%;
  }
  .group-1 .main-nav__list__item,
  .group-3 .main-nav__list__item:first-of-type {
    padding-right: 35px;
  }
  .group-2 {
    order: 1;
    width: 50%;
    justify-content: flex-end;
    border-bottom: 1px solid #ececec;
  }
  .group-2 .main-nav__list__item {
    border-left: 1px solid #ececec;
  }
  .group-2 .main-nav__list__item a:last-of-type {
    padding-left: 80px;
  }
  .group-4 {
    order: 3;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    z-index: 2;
  }
  .main-nav__list__item a,
  .main-nav__logo {
    display: inline-block;
  }
  .main-nav__list__item a {
    border-width: 0;
  }
  .main-nav__list__item--tablet-hidden {
    display: none;
  }
  .main-nav__list__item--search {
    font-size: 0;
    width: 83px;
  }
  .extra-nav--catalog,
  .extra-nav--form {
    position: relative;
    padding-top: 90px;
    padding-bottom: 30px;
    z-index: 1;
  }
  .extra-nav--catalog::after,
  .extra-nav--form::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-border.svg");
    bottom: 0;
    left: 0;
  }
  .extra-nav__title {
    margin-bottom: 365px;
    margin-top: 75px;
    font-size: 50px;
    line-height: 57px;
  }
  .extra-nav--catalog,
  .extra-nav--form {
    background-color: #f1f1f1;
    max-height: 180px;
    margin-bottom: 80px;
  }
  .extra-nav--catalog .extra-nav__title,
  .extra-nav--form .extra-nav__title {
    font-size: 50px;
    line-height: 57px;
    padding-top: -15px;
    margin-top: -35px;
  }
  .extra-nav__item {
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 68px;
  }
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
  .special-offer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-bottom: 45px;
    margin-bottom: 45px;
  }
  .special-offer::after {
    height: 22px;
    bottom: -55px;
  }
  .special-offer br {
    display: block;
  }
  .special-offer__title {
    font-size: 40px;
    line-height: 50px;
  }
  .special-offer__title,
  .special-offer__marker {
    width: 50%;
    margin-bottom: 50px;
  }
  .special-offer__marker {
    text-align: right;
  }
  .special-offer__content-wrapper {
    width: 48%;
    order: 2;
  }
  .special-offer__image {
    width: 333px;
    height: 397px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    order: 3;
    flex-grow: 0;
  }
  .special-offer__price {
    margin-bottom: 10px;
  }
  .special-offer .btn {
    width: 87%;
  }
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    justify-content: space-between;
  }
  .advantages__title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 40px;
    line-height: 50px;
  }
  .advantages__item {
    padding-bottom: 60px;
    width: 43%;
    text-align: left;
    font-size: 20px;
  }
  .feedback {
    padding: 0 50px;
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
  }
  .feedback::after {
    height: 21px;
    bottom: -55px;
  }
  .slider__switch {
    border-width: 0;
  }
  .feedback-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 350px;
    height: 457px;
  }
  .feedback__post__author__author-inst,
  .feedback__post__author__author-name,
  .feedback__post__content,
  .feedback__title {
    position: relative;
    z-index: 2;
  }
  .feedback__post__author__author-inst,
  .feedback__post__author__author-name {
    font-size: 16px;
    width: 50%;
  }
  .feedback__post__author__author-name {
    font-weight: bold;
  }
  .feedback__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    width: 77%;
    order: -2;
    max-height: 50px;
    margin-bottom: 65px;
  }
  .feedback__post__content {
    margin-bottom: 15px;
  }
  .feedback .btn {
    position: relative;
    z-index: 2;
    width: 23%;
    order: -1;
    margin-left: auto;
    box-sizing: border-box;
    padding: 0 auto;
    padding-top: 15px;
    height: 52px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .slider-switcher {
    width: 23%;
    margin-left: auto;
    position: relative;
    top: -87px;
  }
  .contacts__info {
    dispaly: flex;
    justify-content: space-between;
  }
  .contacts__info tr {
    display: inline-block;
  }
  .contacts__info td {
    display: inline-block;
  }
  .contacts__info td:first-of-type {
    margin-right: 25px;
  }
  .contacts__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 55px;
    position: relative;
  }
  .contacts__title::after {
    content: " ";
    width: 54px;
    height: 83px;
    position: absolute;
    top: -25px;
    right: 50px;
    background-image: url("../img/sprite.png");
    background-position: 54.3px -7px;
  }
  .contacts__info {
    margin-bottom: 60px;
  }
  .contacts .btn {
    width: 30%;
  }
  .product-article {
    margin: 0;
    width: 100%;
    text-align: left;
    display: flex;
    margin-bottom: 55px;
  }
  .product-article__content-wrapper {
    width: 65%;
    max-height: 333px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 15px;
    margin-left: 0;
    margin-top: 2px;
  }
  .product-article__photo {
    max-width: 334px;
    max-height: 334px;
    margin-bottom: 0;
  }
  .product-article__description {
    border-width: 0;
  }
  .product-article__description,
  .product-article__title {
    padding-left: 30px;
  }
  .product-article__price {
    box-sizing: border-box;
    margin-top: auto;
    min-width: 260px;
    max-width: 100000px;
  }
  .product-article__price::after {
    content: " ";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #ededed;
    top: 0;
    left: 30px;
  }
  .product-article__price::before {
    right: 40px;
  }
  .order-form__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
  .order-form__hint {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    font-size: 14px;
    line-height: 24px;
    font-size: 16px;
    line-height: 30px;
  }
  .order-form legend {
    display: block;
    text-align: center;
  }
  .order-form legend::after {
    display: none;
  }
  .order-form__description {
    padding-left: 228px;
  }
  .order-form fieldset {
    margin-bottom: 50px;
    width: 100%;
    padding: 0 50px;
  }
  .order-form .order-form__color {
    padding-bottom: 70px;
  }
  .order-form fieldset:nth-of-type(2n) {
    background-color: #f1f1f1;
    padding-top: 80px;
  }
  .order-form fieldset:nth-of-type(2n) .white-bg {
    background-color: #f1f1f1;
  }
  .order-form__group-1 {
    width: 22%;
    height: 100%;
    float: left;
  }
  .order-form__group-2 {
    display: block;
    width: 78%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .order-form__color .order-form__group-2 {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f1f1;
  }
  .order-form__color .order-form__group-2 label {
    width: 35%;
  }
  .order-form__initials {
    padding-right: 30px;
  }
  .label-group {
    display: flex;
    width: 100%;
  }
  .order-form__initials label {
    display: inline-block;
    max-width: 16%;
    margin-right: 25px;
  }
  .order-form__initials input {
    display: inline-block;
    max-width: 100%;
  }
  .order-form__initials .order-form__group-2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .order-form__initials .order-form__group-2 input {
    margin-right: auto;
    margin-bottom: 45px;
  }
  .label-group {
    max-width: 700px;
  }
  .communication-group {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color: #f1f1f1;
  }
  .communication-group .order-form__tel span,
  .communication-group input {
    background-color: #f1f1f1;
  }
  .communication-group legend {
    max-width: 22%;
  }
  .communication-group input {
    max-width: 78%;
  }
  .order-form__tel .order-form__group-1,
  .order-form__mail .order-form__group-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  .order-form__tel .order-form__group-1 {
    position: relative;
  }
  .order-form__tel .order-form__group-1::after {
    content: " ";
    width: 39px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 8%;
    background-image: url("../img/sprite.png");
    background-position: -160px -48px;
  }
  .order-form__tel {
    position: relative;
    z-index: 2;
  }
  .order-form .order-form__mail {
    margin-top: -110px;
    position: relative;
    z-index: 1;
  }
  .order-form__mail .order-form__group-2 {
    position: relative;
  }
  .order-form__mail .order-form__group-2::after {
    content: " ";
    width: 39px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 8%;
    background-image: url("../img/sprite.png");
    background-position: -333px -48px;
  }
  .order-form .order-form__tel input,
  .order-form .order-form__mail input {
    width: 78%;
    max-width: 700px;
    margin-right: auto;
  }
  .order-form fieldset.order-form__extra-text {
    background-color: white;
  }
  .order-form fieldset.order-form__extra-text .white-bg {
    background-color: white;
  }
  .order-form__extra-text .order-form__group-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  .order-form__extra-text .order-form__group-1 legend {
    max-width: 22%;
  }
  .order-form__extra-text .order-form__group-1 textarea {
    width: 78%;
    max-width: 700px;
  }
  .order-form__footer {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-left: 28%;
    align-items: baseline;
  }
  .order-form__footer .btn {
    width: 30%;
    margin: 0;
  }
  .order-form__footer .order-form__hint {
    text-align: right;
  }
  .extra-nav__items-wrapper {
    display: flex;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
  }
  .extra-nav__items-wrapper::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 35px;
    background-image: url("../img/zigzag-border.svg");
    bottom: -1px;
    left: 0;
  }
  .only-mobile-visible {
    display: none;
  }
  .only-mobile-hidden {
    display: block;
  }
  .making-process {
    display: flex;
    flex-direction: column;
    width: 668px;
  }
  .making-process__video {
    order: -2;
    width: 100%;
    min-height: 455px;
    padding: 0;
  }
  .making-process__title {
    padding-left: 110px;
    order: 2;
    padding-bottom: 15px;
  }
  .making-process__content {
    padding: 0 40px;
    margin-bottom: 35px;
  }
  .making-process .btn {
    width: 87%;
    margin-bottom: 45px;
  }
}
@media (min-width: 1008px) {
  .order-form__tel .order-form__group-1::after,
  .order-form__mail .order-form__group-2::after {
    right: 9%;
  }
  .order-form__footer {
    margin-left: 27%;
  }
}
@media (min-width: 1030px) {
  .order-form__tel .order-form__group-1::after,
  .order-form__mail .order-form__group-2::after {
    right: 10%;
  }
  .order-form__tel .order-form__group-1 .order-form__footer,
  .order-form__mail .order-form__group-2 .order-form__footer {
    margin-left: 26%;
  }
}
@media (min-width: 1050px) {
  .main-nav__logo {
    padding-top: 15px;
  }
  .anchor-for-main {
    left: 52%;
    top: 4%;
  }
  .main-nav__list__item--tablet-hidden,
  .main-nav__list__item--mobile-hidden {
    display: block;
  }
  .group-1 {
    order: -1;
    width: 37%;
    max-height: 90px;
    border-bottom: 1px solid #ececec;
  }
  .group-1 .main-nav__list__item {
    border-right: 1px solid #ececec;
  }
  .group-1 .main-nav__list__item:last-of-type {
    padding-right: 0;
    padding-left: 35px;
    border-width: 0;
  }
  .main-nav__logo {
    order: 0;
    flex-basis: 30%;
    border-bottom: 1px solid #ececec;
    text-align: center;
  }
  .group-2 {
    order: 1;
    width: 33%;
  }
  .group-3 {
    order: 2;
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  .extra-nav-wrapper {
    background-image: url(../img/hero-desktop.jpg);
  }
  .extra-nav--catalog,
  .extra-nav--form {
    margin-bottom: 130px;
  }
  .extra-nav--catalog::after,
  .extra-nav--form::after {
    height: 34px;
  }
  .advantages {
    padding: 0 175px;
    padding-top: 70px;
  }
  .feedback {
    padding-left: 175px;
  }
  .feedback::after {
    height: 25.5px;
    bottom: -75px;
  }
  .only-desktop--visible {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    max-height: 50px;
    min-width: 66%;
  }
  .contacts .only-desktop-hidden {
    display: none;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
  }
  .contacts__map {
    width: 50%;
    order: -1;
    height: 457px;
  }
  .contacts__title {
    max-height: 50px;
    padding-left: 0;
    margin-top: 82px;
  }
  .contacts__title::after {
    top: -25px;
    left: -100px;
  }
  .contacts__content-wrapper {
    order: -2;
    width: 33%;
    margin-left: 175px;
  }
  .contacts__info {
    padding-left: 0;
  }
  .contacts__info tr {
    margin-bottom: 28px;
    display: flex;
    width: 100%;
  }
  .contacts__info td {
    display: inline-block;
  }
  .product-list {
    display: flex;
    justify-content: space-around;
  }
  .product-article {
    display: block;
    width: 316px;
  }
  .product-article:nth-of-type(3) .product-article__description {
    padding-bottom: 0;
  }
  .product-article__description,
  .product-article__title {
    padding-left: 30px;
  }
  .product-article__photo {
    margin-bottom: 135px;
  }
  .product-article__price {
    margin-top: auto;
    vertical-align: bottom;
  }
  .product-article__price::before {
    right: 30px;
  }
  .product-article__content-wrapper {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-end;
    margin-top: -7px;
    padding-top: 20px;
  }
  .order-form__color .order-form__group-2 label {
    max-width: 25%;
  }
  .order-form__description {
    padding-left: 282px;
  }
  .order-form__tel .order-form__group-1::after,
  .order-form__mail .order-form__group-2::after {
    right: 12%;
  }
  .order-form__footer {
    margin-left: 28%;
  }
  .order-form__footer {
    margin-left: 30%;
  }
  .making-process {
    width: 1050px;
    flex-direction: row;
  }
  .only-desktop-hidden {
    display: none;
  }
  .only-desktop-visible {
    display: block;
  }
  .making-process__video {
    width: 65%;
    height: 454px;
  }
  .making-process__content-wrapper {
    width: 35%;
  }
  .making-process__title {
    padding-left: 60px;
    padding-right: 35px;
    padding-top: 100px;
  }
  .making-process__title::after {
    left: 61px;
  }
  .making-process__content {
    padding: 0 60px;
  }
  .making-process .btn {
    width: 62%;
    margin-left: 60px;
  }
}
@media (min-width: 1100px) {
  .order-form__footer {
    margin-left: 29%;
  }
}
@media (min-width: 1150px) {
  .special-offer {
    justify-content: flex-start;
    margin-top: 110px;
    padding-bottom: 75px;
    margin-bottom: 75px;
  }
  .special-offer::after {
    height: 25.5px;
    bottom: -75px;
  }
  .special-offer__marker br {
    display: block;
  }
  .special-offer__marker {
    order: -1;
    height: 100%;
    max-width: 17%;
    display: inline-block;
    padding: 0;
    text-align: center;
  }
  .special-offer__title {
    position: relative;
    display: block;
    width: 60%;
    height: 57px;
    z-index: 2;
  }
  .special-offer__price {
    margin-bottom: 5px;
  }
  .special-offer__content-wrapper {
    width: 33%;
    margin-left: 17%;
  }
  .special-offer__description {
    margin-bottom: 85px;
  }
  .special-offer__characteristics {
    margin-bottom: 107px;
  }
  .special-offer__characteristics td {
    text-align: left;
  }
  .special-offer img {
    min-width: 525px;
    min-height: 636px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .main-nav__menu-closer {
    position: absolute;
    width: 21px;
    height: 20px;
    right: 30px;
    top: 35px;
  }
  .main-nav__logo {
    border: 0px solid black;
    position: relative;
    padding-top: 22px;
    text-align: center;
    padding-bottom: 22px;
  }
  .main-nav--closed .main-nav__menu-closer:before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: black;
    box-shadow: 0 5px 0 black,
    0 10px 0 black;
  }
  .main-nav--opened .main-nav__menu-closer::after,
  .main-nav--opened .main-nav__menu-closer::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__menu-closer::before {
    transform: rotate(-45deg);
  }
  .main-nav--closed a[href],
  .main-nav__list__item--search a:active {
    display: none;
  }
  .main-nav--closed a.anchor-for-main {
    display: block;
  }
  .main-nav--closed {
    border: 1px solid #ececec;
  }
  .main-nav--opened {
    border-bottom: 0px solid #ececec;
  }
  .main-nav--opened a[href],
  .main-nav__list__item--search a:active {
    display: block;
  }
  .main-nav__list__item--mobile-hidden {
    display: none;
  }
}
