.extra-nav-wrapper {
  height: auto;
}
.extra-nav-wrapper--index {
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 580px) {
  .extra-nav-wrapper--index  {
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
    background-color: white;
  }
  .extra-nav-wrapper--catalog {
    background-color: #f1f1f1;
  }
}
@media (min-width: 768px) {
      .extra-nav-wrapper {
        border-top: 1px solid #ececec;
      }
      .extra-nav-wrapper--catalog {
        background-color: #f1f1f1;
      }
}
@media (min-width: 1050px) {
  .extra-nav-wrapper--index  {
    background-image: url(../img/hero-desktop.jpg);
  }
}
