.extra-nav-wrapper {
  height: auto;
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .extra-nav-wrapper {
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover;
    background-color: white;
  }
}
