.extra-nav {
  background-image:url(../img/hero-mobile.svg);
}
.extra-nav__title {
  .title-default;
}
.extra-nav__item {
  color: white;
}
.extra-nav__item--interior {
  background-color: #63d1bb;
}
.extra-nav__item--toys {
  background-color: #56c3b2;
}
.extra-nav--catalog {
  background-color: #f1f1f1;
}
