.feedback__title {
  .title-default;
}
.feedback__post__content {
  .content-text-default
}
.feedback__post__author__author-name {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.feedback__post__author__author-inst {
  font-style: normal;
  color: @grey-for-text;
  text-decoration:none;
}
