.order-form__description {
  .content-text-default;
}
.order-form {
font-family: @font-family-default;
}
.order-form fieldset {
  border: none;
}
.order-form legend {
  color: #62d1ba;
  font-size: @font-size-default;
  line-height: @font-size-default;
  text-transform:uppercase;
  font-weight:bold;
}
.order-form label {
  font-family: @font-family-default;
  font-size: @font-size-default;
  line-height: @font-size-default;
  color: black;
  font-weight:bold;
}
