.site-logo--mobile-hidden {
  display: none;
}
.page-footer__social {
  display:flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
}
.design {
  width:100%;
  min-height: 80px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  background-color: #f1f1f1;
  padding-top:35px;
}
@media (min-width: 768px) {
  .site-logo--mobile-hidden {
    display: inline-block;
    width: 34%;
  }
  .page-footer {
    display:flex;
    padding:20px 50px;
    background-color: #f1f1f1;
    justify-content: space-between;
    align-items: baseline;
  }
  .design {
  width: 24%;
  }
  .page-footer__social {
    width: 42%;
  }
}
