.product-article__title {
  font-family: Verdana;
  font-size: @font-size-default;
  line-height: @font-lineheight-default;
  font-weight: bold;
}
.product-article__price {
  font-family: Verdana;
  font-size: 14px;
  line-height: @font-lineheight-default;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.product-article__description {
  .content-text-default;
}
