.special-offer__title {
.title-default;
}
.special-offer__marker {
  color: #78d7c4;
  line-height: 16px;
}
.special-offer__description, .special-offer__characteristics {
.content-text-default;
}
.special-offer__characteristics {
  line-height:20px;
}
.special-offer__price {
font-family: Verdana;
color: @grey-for-text;
font-size: @font-size-default;
line-height: @font-lineheight-default;
font-weight:bold;
}
